header {
    nav {

        box-shadow: 0 8px 6px -6px rgb(42, 41, 41);
        z-index: 3;


        button {
            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                text-decoration: none;
                color: white;

            }
        }
    }
}