* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active {
    background-color: black;
}

// body {
//     background-color: black;
// }

header {
    background-color: rgb(52, 58, 64);
    display: flex;
    color: white;
    font-size: 1.75rem;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    box-shadow: 0 8px 6px -6px rgb(42, 41, 41);
    z-index: 3;


    div.job_title {
        display: flex;
        flex: 10 1 300px;
        margin-left: 2rem;
        align-items: center;

        p {
            font-size: 2rem;
            margin-bottom: 0;
        }

    }

    nav {
        flex: 1 1 800px;

        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 0;

            li:hover {
                background-color: black;

                a {
                    color: white;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                transition: all 0.35s ease;

                a {
                    padding: 1.25rem;
                    text-decoration: none;
                    color: white;


                }



            }
        }
    }


}

main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;

    section.society {
        min-height: 38vh;
        width: 80%;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        div.info {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid rgb(172, 172, 172);

            div.img {
                flex: 1 1 460px;
                border: 1px solid black;

                img {
                    width: 100%;
                    height: 100%;

                }
            }

            div.text {
                flex: 8 1 435px;
                padding: 1rem;
                font-size: 1.5rem;

                p {
                    margin-top: 0.5rem;


                    min-height: 200px;
                }

                button {
                    margin-top: 1rem;
                    padding: 1rem;
                    background-color: #0d6efd;
                    border: none;
                    text-align: center;
                    width: 130px;

                    a {
                        text-decoration: none;
                        font-size: 1rem;
                        color: white;



                    }
                }
            }

        }



    }

    section.data {
        width: 80%;

        h1 {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }

        hr {
            width: 99%;

        }

        section.end {
            width: 80%;
        }

        div.cards {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;

            div.card {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 350px;
                border: 1px solid gray;
                margin-right: 1rem;
                max-width: 40%;


                hr {
                    background-color: black;
                    width: 90%;
                }

                img {
                    width: 100%;
                    height: 15vw;
                }

                h2 {
                    font-size: 1.75rem;
                    text-align: center;
                    margin-bottom: 0.5rem;
                    padding: 1rem;
                }



                div.text {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1.3rem;
                    width: 100%;
                    min-height: 200px;


                    button {
                        margin-top: 1rem;
                        padding: 1rem;
                        background-color: #0d6efd;
                        border: none;
                        text-align: center;
                        width: 130px;

                        a {
                            text-decoration: none;
                            font-size: 1rem;
                            color: white;



                        }
                    }

                }

            }

        }

    }



}

footer {

    background-color: rgb(52, 58, 64);

    div.statement {
        padding: 1.5rem;
        color: white;
        text-align: center;

        h3 {
            font-size: 2rem;
        }

        p {

            font-size: 1rem;
            margin-bottom: 0;


        }

    }

}

@media screen and (max-width:1148px) {
    header {
        div.job_title {
            margin-left: 0;
            margin-bottom: 0.5rem;
            justify-content: center;

            p {
                text-align: center;
            }
        }

        nav {
            ul {
                margin-right: 0;
                justify-content: space-around;
                padding-left: 0;
            }
        }
    }

    main {
        section.society{
            
            width: 100%;
            div.info{
                div.img{
                    flex: 1 1 300px;

                }
                div.text{
                    flex: 3 1 330px;
                    
                    p{
                        min-height: 60px;
                        font-size: 1.25rem;
                    }
                }
            }
        }


        section.data {
            width: 100%;

            section.end {
                width: 80%;
            }

            div.cards {
                div.card {
                    h2 {
                        font-size: 1rem;
                        margin-bottom: 0;
                    }

                    flex: 1 1 230px;
                    margin-right: 0.5rem;
                    margin-bottom: 1rem;

                    img {
                        height: 150px;
                    }
                }
            }
        }


    }

}

@media screen and (max-width:736px) {
    header {
        position: static;

        div.job_title {
            p {
                padding: 0.5rem;
                text-align: center;
            }
        }

        nav {
            ul {
                flex-direction: column;
            }
        }
    }

    main {
        section.society {
            div.info {
                div.img {
                    img {
                        min-height: 200px;
                    }
                }
                div.text{
                    p{
                        font-size: 0.8rem;
                        min-height: 60px;
                    }
                    
                }

            }


        }

        section.data {
            width: 90%;

            section.end {
                width: 100%;
            }

            div.cards {
                div.card {
                    h2 {
                        font-size: 1.25rem;
                    }

                    max-width: none;
                    margin-bottom: 1rem;

                    img {
                        height: 200px;
                    }
                }
            }
        }


    }

    footer {
        div.statement {
            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.75rem;
            }

        }

    }
}